h1 {
  color: #963;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

.aktif {
  text-decoration: none;
  display: inline-block;
  background: red;
  color: #fff;
  padding: 10px;
  margin: 10px;
}
